html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.clean-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.react-btn-common {
  z-index: 2;
  position: absolute;
  margin-top: 74.7%;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.dislike-btn {
  left: 0;
  transform: translate(-50px, 0px);
  background: rgba(255, 69, 56, 0.52);
}

.like-btn {
  right: 0;
  transform: translate(50px, 0px);
  background: rgba(9, 90, 229, 0.54);
}

.card {
  border: 1px solid black;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

.btn-pr {
  background: #202228;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  outline: none;
  border: none;
  color: #E1E6F0;
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  text-align: center;
}

.botton-tray {
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
}

.icon-play{
  margin-right: 8px;
}

.btn-watch-list {
  margin-left: 0;
  min-width: 44px;
}

.btn-watch-now {
  width: 100%;
}