html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: Inter;
}

button {
  background: none;
  outline: none;
  border: none;
}

img {
  width: 100%;
}

.clean-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.react-btn-common {
  z-index: 2;
  position: absolute;
  height: 100px;
  border-radius: 100px;
  bottom: 92px;
}

.react-btn-common>img {
  height: 100%;
}

.dislike-btn {
  left: 0;
}

.like-btn {
  right: 0;
}

.card {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
}

.btn-pr {
  background: #202228;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  outline: none;
  border: none;
  color: #E1E6F0;
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  text-align: center;
}

.button-tray {
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  width: 100%;
}

.icon-play {
  margin-right: 8px;
}

.btn-watch-list {
  margin-left: 0;
  min-width: 44px;
}

.btn-watch-now {
  width: 100%;
}

.btn-back {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.show-title {
  position: absolute;
  z-index: 10;
  margin: 0 100px;
  height: 100px;
  bottom: 72px;
}

.show-title>img {
  max-height: 100%;
  max-width: 100%;
}

.btn-ads {
  background: rgba(255, 255, 255, 0.4);
}

.genre-buttons>button {
  color: #8F98B2;
  border: 1px solid #252833;
  border-radius: 8px;
  text-transform: capitalize;
  padding: 8px;
  margin: 5px;
}

.genre-buttons > .selected {
  color: #E1E6F0;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 30px;
  align-items: center;
  background: #0F1014;
}

.logo {
  max-width: 300px;
  margin: 10vh 0 5vh 0;
}

.title{
  padding: 20px;
}

.head {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.sub-head {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #8F98B2;
}

.btn-white{
  background: #E1E6F0;
  color: #0F1014;
  position: fixed;
  bottom: 20px;
  width: calc(100vw - 40px);
}